name: Render Resume
on: [push]
jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rendercv/rendercv-pipeline-action@v1
        with:
          render_command: render resume.yaml
